body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url('./blackjack.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your background image */
    background-size: cover; /* Ensure the background image covers the entire screen */
    background-position: center;
}

#game-table {
    width: 80%;
    max-width: 800px; /* Set a maximum width for the game table */
    margin: 50px auto; /* Center the game table */
    background-color: #a0dceb;
    border: 10px solid #00294b; /* White border */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Shadow for a 3D effect */
    padding: 20px;
    border-radius: 15px; /* Rounded corners for a modern look */
}
#game-table button {
    margin-top: 20px;
    box-shadow: 2px 2px 5px #4d4d4d;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#player-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#dealer-cards img:not(:first-child),
#player-cards img:not(:first-child) {
    margin-left: -80px; /* Adjust the margin to show a part of the card below */
}

#shuffle-button-container {
    margin-top: 20px;
}

#shuffle {
    height: 45px;
    width: 150px;
    font-size: larger;
    box-shadow: 2px 2px 5px #888888;
}
#shuffle:hover {
    box-shadow: 3px 3px 7px #888888;
}

.btn{
    height: 45px;
    width: 100px;
}
.btn:hover {
    box-shadow: 2px 2px 5px #888888;
}

#results {
    font-family: "fantasy";
    font-size: x-large;
    font-weight: bold;
}
